---
import { type Expression, type Work } from "../../api/legislation/models";
import { getCollection } from 'astro:content';
import Layout from "../../Layout.astro";


export async function getStaticPaths() {
	const all_legislation = await getCollection('legislation');
	const works = all_legislation;
	let result = [] as any[]
	for (const data of works) {
		const work = data.data as Work;
		for (const expression of work.expressions) {
			result.push({params: {slug: expression.frbrUri}});
		}
	}
	return result
}

async function getExpression(frbrUri: string): Promise<Expression | undefined> {
	const all_legislation = await getCollection('legislation')
	for (const data of all_legislation) {
		const work = data.data as Work;
		for (const expression of work.expressions) {
			if (expression.frbrUri == `/${frbrUri}`) {
				return expression;
			}
		}
	}

	return undefined;
}

const { slug } = Astro.params;
const expression = await getExpression(slug)
const tocJson = JSON.stringify(expression?.tocJson["toc"]);
---

<Layout title={expression?.title}>
	<section class="hero is-info">
		<div class="hero-body">
			<p class="title">{expression?.title}</p>
		</div>
	</section>

	<section class="section">
		<div class="columns">
			<div class="column is-one-quarter">
				<div class="card">
					<div class="card-content">
						<div class="content">
							<la-table-of-contents-controller
								items={tocJson}
							></la-table-of-contents-controller>
						</div>
					</div>
				</div>
			</div>


			<div class="column">
				<div class="card theme-light" data-theme="light">
					<div class="card-content">
						<div class="content">
							<la-decorate-terms popup-definitions link-terms></la-decorate-terms>
							<la-decorate-internal-refs popups flag></la-decorate-internal-refs>
							<la-akoma-ntoso frbr-expression-uri={ expression?.frbrUri } set:html={expression?.content}></la-akoma-ntoso >			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>
