---
import { getCollection } from 'astro:content';
import Layout from "../Layout.astro";

const works = await getCollection('legislation');
---

<Layout title="Home">
	<section class="hero is-info">
		<div class="hero-body">
			<p class="title">The official home of the Samland Government</p>
		</div>
	</section>
	<section class="section">
		<h2>All legislation</h2>
		<table class="table">
			<thead>
				<th>Date</th>
				<th>Title</th>
				<th>FRBR URI</th>
				<th>Latest FRBR URI</th>
			</thead>
			{works.map(work => (
				<tr>
					<td>{work.data.default_expression?.date}</td>
					<td>
						<a href={`expression${work.data.default_expression?.frbrUri}`}>{work.data.default_expression?.title}</a>
					</td>
					<td>{work.data.frbrUri}</td>
					<td>{work.data.default_expression?.frbrUri}</td>
				</tr>
			))}
		</table>
	</section>
</Layout>
